language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
# command to run tests

script: pytest -v --cov=fast_food_app --cov-report term-missing
branches:only: api
after_success:
  - coveralls
